{%extends 'layout.html'%}


{%block body%}
    <h1>Dashboard <small> Welcome {{session.username}}</small> </h1>
    <div class="jumbotron">
      <a class="btn btn-success" href="/add_article">Ask question</a>
      <hr>
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date</th>
          <th></th>
          <th></th>
        </tr>
        {%for article in articles%}
        <tr>
          <td>{{article.id}}</td>
          <td>{{article.title}}</td>
          <td>{{article.author}}</td>
          <td>{{article.create_date}}</td>
        </tr>
        {%endfor%}
      </table>
    </div>
{%endblock%}
